<div style="background-image:
linear-gradient(#1B9EA6 30%, white 90%, black 95% );
background-position: center;
background-repeat: no-repeat;
background-size: cover;
">
<div  class="container" >
  <div class="row">
    <div style="
    background-image: url('assets/banner_home.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    " class="col-md">
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <h4 class="m-all">From   the   beginning</h4>
      <p>
        Coming from over a decade of involvement in high level athletics,
         I sought education to further my understanding of how to increase performance
          and deliver the best package to the stage, platform, field or court. I earned my B.S.
           Exercise Science from Wilmington College in Wilmington, Ohio
           and am currently a <a href="https://www.nsca.com/certification/nsca-cpt/"> CPT from NSCA. </a> This education, mixed with well
           over a decade of hands on application of all the principles,
           has helped me create an environment where we, as a company, are beyond capable of helping you
            reach any goals you may have.   --Victor Falco, Owner and Head Coach
      </p>
    </div>
    <div class="col-md-6">
      <h4 class="m-all">Where we want to go</h4>
    <p>
      The idea behind Kaizen is to continuously improve. That is the mission statement of the
      company and what we bake into everything that we do. We intend to continue to grow, adding
       on coaches with experience in all facets of fitness, while eventually working our way into
        a brick and mortar facility. Along the way we will continue to look within ourselves as
         people and a company to make our services to you the best that they possibly can be.
          We look forward to applying the ideologies of kaizen into both our programming and
           relationships in order to build something worthwhile.
</p>

    </div>
  </div>
  <h3 class="m-all">Current Coaches</h3>
  <div class="row m-all">
    <div class="col-md-4">
      <mat-card>
        <mat-card-footer style="
        text-align: center;
        font-style: italic;
        font-weight: 800;
        "> Victor Falco</mat-card-footer>
        <img mat-card-image src="assets/victor.jpg">
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card >
        <mat-card-footer style="
        text-align: center;
        font-style: italic;
        font-weight: 800;
        ">Sean Malone</mat-card-footer>
        <img mat-card-image src="assets/malone.jpg">
      </mat-card>
    </div>
  </div>
<br><br><br>
<div class="row">
  <div style="color: gray;" class="col-md-6">
    <p>* We offer per session payment as well as a discount for making the commitment to at least one month(4 sessions) of self-improvement.</p>
  </div>
  <div style="color: gray;" class="col-md-6">
<p>Ready? Click the start here button at the top of the page or <a href="https://docs.google.com/forms/d/e/1FAIpQLSeCo1qDg-VReeDH2xV2XRRKgqw8bfhtGQ8XO4EUS8YigpDA1w/viewform?usp=sf_link" > follow this link</a> to our intake form on Google Docs.</p>
  </div>
</div>
</div>

</div>
