<mat-toolbar>
  <span>
    BARBELL KAIZEN
  </span>
  <span style="flex: 1 1 auto"></span>
  <button routerLink="" class="vik-button"  mat-button  >
    <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSeCo1qDg-VReeDH2xV2XRRKgqw8bfhtGQ8XO4EUS8YigpDA1w/viewform?usp=sf_link" target="_blank"> -->
      HOME
    </button>
    <button routerLink="about" class="vik-button"  mat-button >
      <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSeCo1qDg-VReeDH2xV2XRRKgqw8bfhtGQ8XO4EUS8YigpDA1w/viewform?usp=sf_link" target="_blank"> -->
        ABOUT US
      </button>
  <button class="vik-button"  mat-button style="background-color: #1B9EA6"  (click) = "docWarning()" >
  <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSeCo1qDg-VReeDH2xV2XRRKgqw8bfhtGQ8XO4EUS8YigpDA1w/viewform?usp=sf_link" target="_blank"> -->
    START HERE!
  </button>
</mat-toolbar>
