<div style="background-image: linear-gradient(#1B9EA6 30%, white 90%, black 95% );    background-position: center;
background-repeat: no-repeat;
background-size: cover;">
<div  class="container" >
  <div class="row">
    <div style="
    background-image: url('assets/banner_home.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    " class="col-md">
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md"
    style="display: flex;
    justify-content: center;">
    <h1>HERE TO HELP YOU ACHIEVE</h1>
    </div>
  </div>
  <br>
  <div class="row m-all">
    <div class="col-md-8">
      <p>
      Barbell Kaizen is a group of coaches founded on the idea that things should be constantly improving. Not only do we expect you to improve but we strive to constantly be honing our crafts as coaches and offer the best service possible to you.
      </p>
    </div>
    <div class="col-md-4">
      <h4>SERVICES</h4>
      <ul>
      <li>Complete Programming</li>
      <li>Goal Oriented Custom Plans</li>
      <li>Nutritional Guidance</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div style="
    background-image: url('assets/avatar.jpg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    " class="col-md">
    </div>
  </div>
  <div class="row">
    <div style="display: flex;
    justify-content: center;" class="col-md">
      <h4 class="m-all"
      style="
      font-style: italic;
      color: gray;" >
      Don't wish for it. Work for it!
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="m-all">WHO WE WORK WITH</h4>
      <p>
        We have the ability to work with all clients regardless of skill level or goals.
        That said, we do have a specialty of working with athletes who have goals pertaining
        to strength sports such as powerlifting and strongman. We do also have experience working with,
        both female and male, bodybuilders in contest prep and off season growth.
      </p>
    </div>
    <div class="col-md-6">
      <h4 class="m-all">HOW TO GET STARTED</h4>
    <p>
Because our services are tailored to the individual, we offer a free (virtual) consultation where your future coach will:
</p>
<ul>
  <li>
    Review your self-improvement goals, assets, and obstacles
  </li>
  <li>
    Start outlining what form your individual improvement journey will take
  </li>
  <li>
    Determine the commitment level needed to reach your goals*
  </li>
  <li>
    Discuss availability to minimize session conflicts and schedule first full session
  </li>
</ul>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div style="color: gray;" class="col-md-6">
      <p>* We offer per session payment as well as a discount for making the commitment to at least one month(4 sessions) of self-improvement.</p>
    </div>
    <div style="color: gray;" class="col-md-6">
<p>Ready? Click the start here button at the top of the page or <a href="https://docs.google.com/forms/d/e/1FAIpQLSeCo1qDg-VReeDH2xV2XRRKgqw8bfhtGQ8XO4EUS8YigpDA1w/viewform?usp=sf_link" > follow this link</a> to our intake form on Google Docs.</p>
    </div>
  </div>
</div>
<!-- </div> -->
